{#================原始==================#}
{#<div class="menu">#}
{#    {% for k,menu in menu_dic.items() %}#}
{#        <div class="menu_first">{{ menu.menu_title }}</div>#}
{#        {% if menu.active %}#}
{#            <ul class="">#}
{#        {% else %}#}
{#            <ul class="hide">#}
{#        {% endif %}#}
{##}
{#        {% for child in menu.children %}#}
{#            {% if child.active %}#}
{#                <li class="menu_second active"><a href="{{ child.permission_url }}">{{ child.permission__title }}</a></li>#}
{#            {% else %}#}
{#                <li class="menu_second"><a href="{{ child.permission_url }}">{{ child.permission__title }}</a></li>#}
{#            {% endif %}#}
{#        {% endfor %}#}
{#        </ul>#}
{#    {% endfor %}#}
{#</div>#}



{#===================下边是一个可以使用的的=======================#}
<h4>后台管理页面</h4>
{#<div class="cover">#}
{#    <p>模板这里可以放头像什么的，但是觉得不好看</p>#}
{#</div>#}
<ul class="sidenav animated fadeInUp">
    {% for k,menu in g.menu_dic.items() %}
        <li><a class="withripple hover" href="javascript:;"><i class="icon icon-article"></i><span
                class="sidespan">{{ menu.menu_title }}</span><i class="iright pull-right">&gt;</i>
            </a>
            {% if menu.active %}
                <ul class="sidebar-dropdown" style="display: block">
            {% else %}
                <ul class="sidebar-dropdown" style="display: none">
            {% endif %}

            {% for child in menu.children %}
                {% if child.active %}
                    <li class="menu_second active"><a href="{{ child.permission_url }}">{{ child.permission__title }}</a></li>
                {% else %}
                    <li class="menu_second"><a href="{{ child.permission_url }}">{{ child.permission__title }}</a></li>
                {% endif %}
            {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>